


/***************** media queries ***************/
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    html{
      font-size: 5px;
    }
    body {
      background: #3d3d3d;
    }

    #header{
        width: 90%;
    }

    .wrapper{
        width: 100%;
        min-height: 95vh;
        padding-top: 2rem;
    }

    .list--wrapper{
        width: 98%;    
    }

    .tile--wrapper .tile{
        height: 35vh;
    }
    .list--wrapper #section__header{
        font-size: 3.75rem;
        padding: 1.5rem 0 1.5rem 2rem;
    }
    #tText_head{
        text-decoration: underline;
        border-bottom: none;
    }

    .section .tile--wrapper.active{
        height: 70vh; 
    }
    .footer{
        width: 100%;
        justify-content: space-evenly !important;
    }

    .footer .connect_tile{
        padding: none;
    }

    .tile--wrapper.grid.active{
        height: 40vh  !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .grid .arrInnDiv i{
        font-size: 4rem !important;
    }
    .arrMainDiv{
        width: 7% !important;
        opacity: 0.7 !important;
    }
    .arrInnDiv{
        background-color: #000 !important;
    }
    .gridSelector{
        font-size: 3rem;
        margin-right: 1%;
        padding-left: 1rem;
        margin-top: 2.5rem !important;
        margin-bottom: 2rem !important;
        line-height: 3.2rem;

    }
    .switch {
        position: relative;
        display: inline-block;
        width: 5rem;
        height: 3rem;
      }

      .slider:before {
        position: absolute;
        content: "";
        height: 2.9rem;
        width: 2.65rem;
        left: 0px;
        bottom: 0px;
        background-color: rgb(77, 59, 59)   ;
        -webkit-transition: .4s;
        transition: .4s;
      }
      input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(2.5rem);
      }
      #tileCounter{
        width: 10%;
    }
}
/***************** media queries ***************/
