


/***************** media queries ***************/
.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    html{
      font-size: 5px;
    }
    body {
      background: #3d3d3d;
    }

    #header{
        width: 90%;
    }

    .wrapper{
        width: 100%;
        min-height: 95vh;
        padding-top: 2rem;
    }

    .list--wrapper{
        width: 98%;    
    }

    .tile--wrapper .tile{
        height: 35vh;
    }
    .list--wrapper #section__header{
        font-size: 3.75rem;
        padding: 1.5rem 0 1.5rem 2rem;
    }
    #tText_head{
        text-decoration: underline;
        border-bottom: none;
    }

    .section .tile--wrapper.active{
        height: 70vh; 
    }
    .footer{
        width: 100%;
        justify-content: space-evenly !important;
    }

    .footer .connect_tile{
        padding: none;
    }

    .tile--wrapper.grid.active{
        height: 40vh  !important;
        display: flex !important;
        flex-direction: row !important;
    }

    .grid .arrInnDiv i{
        font-size: 2rem;
    }
    .arrMainDiv{
        width: 7% !important;
    }
    .gridSelector{
        font-size: 2rem;
        margin-right: 1%;
    }
}
/***************** media queries ***************/
