 *{
	border: 0.1px solid black;
}

html,body{
	width: 100%;
	margin:0;
	padding: 0;

}

#main{
	width: 100%;
	margin:0;
	padding: 0;
}

#row1{
	background: #c8d6e5	;
}

#row2{
	background: #feca57;	
}

#row3{
	background: #95a5a6;
}

.row-text a{
	height: 12rem;
	display: block;
	text-align: center;
	width: 100%;
	font-size: 5em;
}